<!DOCTYPE html>
<html>
	<head>
		<title>Pokedex</title>
		<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.5.1/css/bulma.min.css">
	</head>
	<body>

		<div class="container">
			<button onclick="isActive()">Click me</button>
		</div>

		<div class="modal" id="asdfg">
		  <div class="modal-background"></div>
		  <div class="modal-content">
			<canvas id="myChart" width="100px" height="100px"></canvas>
			<input type="text" name="spatk" id="spatk">
			<button class="is-large" onclick="adddata(spatk)">Add Data</button>
		  </div>
		  <button class="modal-close is-large" onclick="notActive()" aria-label="close"></button>
		</div>

		<div id="pokedex">
			{{ specificValue('Bulbasaur') }}
			<div class="field has-addons container">
				<div class="control is-expanded">
					<input type="text" class="input" name="search" v-model="search" placeholder="Search for a Pokemon">
				</div>
				<div class="control">
					<a class="button is-info">Search</a>
				</div>
			</div>
			<table class="table is-fullwidth is-striped">
				<thead>
					<tr>
						<th v-for="columnName in pokeColumn" v-on:click="sortTable(columnName)">{{ columnName | capitalize }}</th>
					</tr>
				</thead>
				<tbody>
					<tr v-for="pokemon in filteredPokemon">
						<td v-for="column in pokeColumn">{{ pokemon[column] }}</td>
					</tr>
				</tbody>
			</table>
		</div>

		<script src="https://unpkg.com/vue"></script>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.min.js"></script>
		<script type="text/javascript" src="./index.js"></script>
		<script type="text/javascript" id="pokedex">
			function adddata(something) {
				myRadarChart.data.datasets[0].data[3] = something.value;
				myRadarChart.update();
			}

			var ctx = document.getElementById("myChart").getContext('2d');
			ctx.canvas.width = 100;
			ctx.canvas.height = 100;

			var hp = pokedex._data.pokemonList[0].hp;
			var atk = pokedex._data.pokemonList[0].atk;
			var def = pokedex._data.pokemonList[0].def;
			var spatk = pokedex._data.pokemonList[0].spatk;
			var spdef = pokedex._data.pokemonList[0].spdef;
			var spe = pokedex._data.pokemonList[0].spe;

			var myRadarChart = new Chart(ctx, {
			    type: 'radar',
			    data: {
			    	labels: ["Hit Point", "Attack", "Defense", "Special Attack", "Special Defense", "Speed"],
			    	datasets: [{
			    		label: 'Stats',
						data: [ hp, atk, def, spatk, spdef, spe],
						backgroundColor: [
					    	'rgba(255, 99, 132, 0.2)'
					    ],
					    borderColor: [
					    	'rgba(255, 99, 132, 1)'
					    ],
					    borderWidth: 2
			    	},
			    	{
			    		label: 'Stats with EV',
						data: [93, 34, 22, 26],
						backgroundColor: [
					    	'rgba(255, 0, 255, 0.2)'
					    ],
					    borderColor: [
					    	'rgba(255, 0, 255, 1)'
					    ],
					    borderWidth: 2
			    	}]
			    },
			    options: {
				scale: {
		              ticks: {
		                beginAtZero: true
		              }
		            }
			    }
			});

		</script>
	</body>
</html>