<!DOCTYPE html>
<html>
	<head>
		<title>Pokedex</title>
		<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.5.1/css/bulma.min.css">
	</head>
	<body>
		<div id="pokedex">
			<!-- Still debating whether to move this modal outside and change the vue code -->
			<div id="asdfg" class="modal">
				<div class="modal-background"></div>
				<div class="modal-content">
					<canvas id="myChart" width="100px" height="100px"></canvas>
					<input type="text" name="spatk" id="spatk">
					<button class="button is-large" v-on:click="addData(spatk)">Add Data</button>
				</div>
				<button class="modal-close is-large" v-on:click="unChartMe()" aria-label="close"></button>
			</div>

			<div class="field has-addons container">
				<div class="control is-expanded">
					<input type="text" class="input" name="search" v-model="search" placeholder="Search for a Pokemon">
				</div>
				<div class="control">
					<a class="button is-info">Search</a>
				</div>
			</div>
			<table class="table is-fullwidth is-striped">
				<thead>
					<tr>
						<th v-for="columnName in pokeColumn" v-on:click="sortTable(columnName)">{{ columnName | capitalize }}</th>
					</tr>
				</thead>
				<tbody>
					<tr v-for="pokemon in filteredPokemon">
						<td v-for="column in pokeColumn" v-on:click="chartMe(pokemon['hp'], pokemon['atk'], pokemon['def'], pokemon['spatk'], pokemon['spdef'], pokemon['spe'])">{{ pokemon[column] }}</td>
					</tr>
				</tbody>
			</table>
		</div>

		<script src="https://unpkg.com/vue"></script>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.min.js"></script>
		<script type="text/javascript" src="./index.js"></script>
	</body>
</html>